[submodule "deps/qwindowskit"]
	path = deps/qwindowskit
	url = git@github.com:stdware/qwindowkit.git
[submodule "deps/magic_enum"]
	path = deps/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = git@github.com:madler/zlib.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
